@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;

    align-items: center;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-bar a {
    text-decoration: none;
    color: #000;
    padding-right: 25px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar a:hover {
    color: #10b981;
    transition: all 0.1s ease
}

.call-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 25px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.call-btn:hover {
    border: 2px solid #10b981;
    background-color: #fff;
    color: #10b981;
    transition: all 0.2s ease;
    overflow: hidden;
}

.hamburger {
    display: none;
}

.bar {
    display: none;
}

.mobile-nav{
    display: none;
}

/* Media */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    .nav-bar {
        display: none;
    }

    .call-btn {
        display: none;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        background-color: black;
        height: 35px;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        width: 100%;
        height: 5px;
        background-color: #000;
        margin: 5px 0;
        transition: 0.4s;
        content: '';
        display: block;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-9px, 8px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px, -5px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        left: 1000%;
        width: 100%;
        height: 100vh;
        background-color: #000;
        transition: all 0.4s ease;
        /* transition-delay: 0.4s ease ; */
    }

    .mobile-nav a {
        font-family: 'Roboto', sans-serif;
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
        padding: 0px 0 10px 0;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

        .mobile-nav.is-active{
            left: 0;
        }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}